.aboutus_container_commitment {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .aboutus_container_commitment_flex {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;

        h2 {
            text-align: center;
            margin-top: 80px;
        }


        .commitment_cards {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
            background-image: url("../../../public/AboutUs/clinic_image.jpg");
            background-color: rgba(249, 249, 249, 0.422);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 50px 0px 50px 0px;
            z-index: 1;
            border-radius: 10px;

            .card {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 350px;
                /* Set a fixed width for each card */
                overflow: hidden;
                border-radius: 0px 20%;

                backdrop-filter: blur(5px) saturate(200%);
                -webkit-backdrop-filter: blur(5px) saturate(200%);
                background-color: rgba(255, 255, 255, 0.834);
                border: solid 1px #00a2d387;

                animation: fadebottom linear;
                animation-timeline: view();
                animation-range: entry 0% cover 40%;

                @media (max-width: 400PX) {
                    width: 280px;
                }

                .card_img {
                    animation: top 2s 1;

                    img {
                        border: none;
                        border-radius: 0px 0px 50% 50%;
                        width: 100%;
                        height: 250px;
                        /* Allocate 60% of card height to the image */
                        object-fit: cover;
                        /* Crop the image to fit the area */
                    }
                }

                @keyframes top {
                    from {
                        top: -200px;
                    }

                    to {
                        top: 0px;
                    }
                }

                h3 {
                    color: #00A2D3;
                    font-family: "Bebas Neue", sans-serif;
                    font-weight: 400;
                    margin-bottom: 0px;
                }

                p {
                    margin: 0px;
                    padding: 20px;
                    color: #303130c2;
                    font-family: "Lato", sans-serif;
                    font-weight: 400;
                    word-spacing: 2px;
                }

                .Button {
                    background-color: #00A2D3;
                    border: solid 1px #00A2D3;
                    /* Change to your preferred color */
                }

                .Button:hover {
                    background-color: transparent;
                    color: #00A2D3;
                    border: solid 1px #00A2D3;
                }
            }

            .card:hover {
                // box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            }
        }

        .commitment_cards::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #3031307d;
            /* Semi-transparent overlay */
            border-radius: 10px;
            z-index: -1;
            /* Ensure the overlay is behind the content */
        }
    }
}

@keyframes fadebottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
