.brand_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .brand {
    height: 350px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3031305c;
    // padding: 80px 30px 80px 30px;
    border-radius: 10px;
    animation: fadebottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;

    @media (max-width: 768px) {
      height: 200px;
      width: 90%;
    }
    
    .brand_img {
      img {
        margin: 0 40px;
        object-fit: contain;
        display: block;

        height: 80px;
        border-radius: 10px;

        @media (max-width: 768px) {
          height: 60px;
          margin: 0 20px;
        }
      }
    }
  }
}

@keyframes fadebottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}