.brand_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;

  .brand {
    width: 70%;
    // display: flex;
    // gap: 80px;
    background-color: #3031305c;
    // background-color: #303130;
    padding: 80px;
    border-radius: 10px;
    animation: fadebottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    // flex-wrap: wrap;

    .brand_img {
      // width: 150px;
      // display: inline;
      img {
        height: 100px;
        margin: 0 40px;
        // width: inherit;
        object-fit: contain;
        display: block;

        height: 80px;
        border-radius: 10px;
      }

      img:hover {
        scale: 1.2;
        transition: all 1s;
      }
    }
  }
}

@keyframes fadebottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

// .marquee-container {
//   width: 100%;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   height: 100px;
//   position: relative;

//   .marquee {
//     display: flex;
//     gap: 20px;
//     animation: scroll 15s linear infinite;
//   }
// }

// @keyframes scroll {
//   0% {
//     transform: translateX(100%);
//   }

//   100% {
//     transform: translateX(-100%);
//   }
// }
