.bookNow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  .bookNow-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 0px;
    /* Center the gallery horizontally */
    animation: fadebottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

    .form {
      width: 400px;
      position: relative;
      animation: opacity 2s 1;

      .message_header {
        text-align: center;

        p {
          color: #303130;
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          font-size: 30px;
          margin-bottom: 0px;
        }
      }

      .form_container {
        width: 100%;
        // background-color: #303130;
        backdrop-filter: blur(7px) saturate(152%);
        -webkit-backdrop-filter: blur(7px) saturate(152%);
        background-color: rgba(255, 255, 255, 0.753);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.784);
        box-shadow: 1px 1px 6px 2px #00a2d3;

        form {
          display: flex;
          justify-content: center;
        }
        .textfield_div {
          width: 100%;
          padding: 30px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          @media (max-width: 400px) {
            padding: 15px;
            width: 250px;
          }
        }

        .Button {
          background-color: #00a2d3;
        }
      }
    }
  }
}
