.header {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;

  @media (max-width: 1250px) {
    display: block;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
  }

  .navbar {
    mix-blend-mode: difference;
    color: white;
    z-index: 100;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: top 2s 1;

    @media (max-width: 516px) {
      justify-content: flex-end;
      mix-blend-mode: unset;
    }
    .nav-bar {
      display: flex;
      justify-items: right;
      align-items: center;
      gap: 30px;

      @media (max-width: 516px) {
        display: none;
      }
      a {
        position: relative;
        cursor: pointer;
        text-decoration: none;
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
        color: inherit;
        font-size: clamp(0.8rem, 1vw, 3rem);
        padding: 10px 0px;
        letter-spacing: 2.5px;
        z-index: 10;
      }

      a:after {
        z-index: 10;
        background: none repeat scroll 0 0 transparent;
        border-radius: 100px;
        bottom: 0;
        content: "";
        display: block;
        height: 1.5px;
        left: 50%;
        z-index: 10;
        position: absolute;
        background: #00a2d3;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      a:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }

  @keyframes top {
    from {
      top: -200px;
    }

    to {
      top: 0px;
    }
  }

  .header_titles {
    height: 100%;
    width: 100%;

    background: #303130;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    @media (max-width: 1250px) {
      background: rgba($color: #303130, $alpha: 0.8);
      align-items: center;
      text-align: center;
    }

    .header_titles_flex {
      padding-left: 50px;
      display: flex;
      justify-content: start;
      align-items: center;

      .hidden {
        overflow: hidden;
      }

      .logo_img {
        width: 150px;
        height: auto;
        mix-blend-mode: lighten;

        @media (max-width: 710px) {
          width: 100px;
        }
      }

      .text_img {
        position: relative;
        // height: 120px;
        width: 400px;
        animation: mymove 2s 1;
        mix-blend-mode: lighten;

        @media (max-width: 710px) {
          width: 250px;
        }
      }

      @keyframes mymove {
        from {
          left: -200px;
          @media (max-width: 710px) {
            left: -100px;
          }
        }

        to {
          left: 0px;
        }
      }
    }

    .header_titles_btn {
      padding-left: 60px;
      width: 70%;
      animation: opacity 2s 1;

      h2 {
        text-align: left;
      }

      p {
        margin: 30px 0px 30px 0px;
        color: #ffffff98;
        font-family: "Lato", sans-serif;
        font-style: italic;
        font-size: 20px;
        word-spacing: 2px;
      }

      .header_titles_flex_buttons {
        display: flex;
        gap: 20px;
        @media (max-width: 1250px) {
          justify-content: center;
        }
        .Button {
          height: 50px;
          background-color: #00a2d3;
        }

        .Button:hover {
          color: #00a2d3;
          border-color: #00a2d3;
          background-color: white;
        }

        /* Increase the specificity */
        .Button_outline {
          height: 50px;
          color: white;
          border-color: #00a2d3;
        }

        .Button_outline:hover {
          color: #00a2d3;
          border-color: white;
        }
      }
    }
    @keyframes opacity {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  .header_video {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(249, 249, 249, 0.422);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1250px) {
      position: static;
    }
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .form {
      width: 60%;
      position: relative;
      animation: opacity 2s 1;

      @media (max-width: 1250px) {
        display: none;
      }
      .message_header {
        text-align: center;

        p {
          color: #303130;
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          font-size: 30px;
          margin-bottom: 0px;
        }
      }

      .form_container {
        width: 100%;

        backdrop-filter: blur(7px) saturate(152%);
        -webkit-backdrop-filter: blur(7px) saturate(152%);
        background-color: rgba(255, 255, 255, 0.753);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.784);

        .textfield_div {
          padding: 30px;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .Button {
          background-color: #00a2d3;
        }
      }
    }

    @keyframes right {
      from {
        right: -200px;
      }

      to {
        right: 0px;
      }
    }
  }
}

.hamburger-button {
  margin: 0 20px;
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: 2em;
  height: 2em;
  position: relative;
  z-index: 10;
  background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  
  @media (max-width: 516px) {
    display: block;
  }
  &.open {
    background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger-close.svg);
  }
}

.panel {
  max-width: 500px;
  background-color: #00a2d3;
  background-size: 117px 188px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
  position: fixed;
  z-index: 5;
  right: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 3em;
  display: flex;

  &.open {
    visibility: visible;
    width: 100%;
    right: 0;
    opacity: 1;
  }
}

ul {
  margin: auto 0 auto auto;

  li {
    list-style: none;
    font-size: 2em;
    text-align: right;

    & + li {
      margin-top: 1em;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: #303130;
      }
    }
  }
}
