.footer {
  margin-top: 90px;

  .footer_container {
    background-color: #303130;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 100px;
   // box-shadow: 1px 1px 6px 2px #00a2d3;

    .contact_us {
      max-width: 80%;
      width: fit-content;
      margin-bottom: 40px;
      position: absolute;
      background-color: #ffffff;
      padding: 40px;
      border-radius: 10px;
      top: -70px;
      z-index: 10;
      animation: fadebottom linear;
      animation-timeline: view();
      animation-range: entry 0% cover 25%;
      box-shadow: 1px 1px 6px 2px #00a2d3;

      @media (max-width: 576px) {
        padding: 20px;
      }
      .contact_us_flex_buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        .Button_WA {
          height: 50px;
          width: 200px;
          background-color: #25d366;
        }

        .Button_CU {
          height: 50px;
          width: 200px;
          background-color: #017a9e;
        }

        .Button_MU {
          height: 50px;
          width: 200px;
          background-color: #ea4335;
        }

        .Button_BO {
          height: 50px;
          width: 200px;
          background-color: #303130;
        }
      }
    }

    .footer_content {
      display: flex;
      margin-top: 100px;
      justify-content: center;
      align-items: center;
      // padding: 30px;
      gap: 30px;
      flex-wrap: wrap;
      width: 90%;

      @media (max-width: 1207px) {
        margin-top: 175px;
        width: 75%;
      }
      @media (max-width: 582px) {
        margin-top: 365px;
      }

      .footer_logo_icon {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        animation: fadeleft linear;
        animation-timeline: view();
        animation-range: entry 0% cover 25%;

        img {
          height: 100px;
        }

        p {
          color: #ffffff98;
          font-family: "Lato", sans-serif;
          font-style: italic;
          font-size: 16px;
          text-align: center;
          line-height: 25px;
        }

        .social_img {
          display: flex;
          gap: 15px;

          .icon_style {
            cursor: pointer;
            font-size: 25px;
            color: #ffffff98;
          }
        }
      }

      .address_container {
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        animation: faderight linear;
        animation-timeline: view();
        animation-range: entry 0% cover 25%;

        img {
          height: 150px;
          width: 250px;
          border-radius: 10px;
          cursor: pointer;
        }

        h3 {
          margin: 0px 0px 10px 0px;
          color: #00a2d3;
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 2px;
        }

        p {
          color: #ffffff98;
          font-family: "Lato", sans-serif;
          font-size: 15px;
          line-height: 25px;
        }
        a{
          color: #ffffff98;
          font-family: "Lato", sans-serif;
          text-decoration: none;
          cursor: pointer;
        }
        a:hover{
          color: #00a2d3;
        }

        @media (max-width: 900px) {
          animation: fadeleft linear;
          animation-timeline: view();
          animation-range: entry 0% cover 25%;
        }
      }

      .beHappyAnime {
        flex: 1;
        display: flex;
        justify-content: center;
        min-width: 300px;
        animation: fadebottom linear;
        animation-timeline: view();
        animation-range: entry 0% cover 25%;
      }
    }

    .copy_right {
      display: flex;

      p {
        font-family: "Lato", sans-serif;
        font-size: clamp(0.7rem, 2.5vw, 1rem);
        word-spacing: 3px;
        color: #ffffff70;
      }
    }
  }
}

@keyframes fadebottom {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes fadeleft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes faderight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
