body {
    margin: 0px;
}

h1 {
    margin: 60px;
    /* color: #00A2D3; */
    color: #303130;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 3px;
    text-align: center;
}

h2{
    color: #00A2D3;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
}

.letter_color {
    /* color: #303130; */
    color: #00A2D3;
}